@font-face {
    font-family: Sungent;
    src: url("../fonts/Sungent.otf");
   }

html, body{
	padding: 0;
	margin: 0;
	width: 100%;
	height: 99.1%;
}

.wrapper{
	display: flex;
	height: 100%;
	font-family: Sungent;
}

.menu{
	width: 20%;
	height: 100%;
	padding-top: 10px;
	background-color: #25274d;
	color: #fff;
}

.menu-item{
	display: block;
	padding: 10px 0 10px 15px;
	cursor: pointer;
}

.menu-item:hover{
	background-color: #244856;
	color: #fff;
}

.active, .active:hover{
	background-color: #fff;
	color: #244856;
}

.content{
	width: 80%;
}

.notes-content{
	width: 100%;
	padding-top: 50px;
}

.addNote{
	display: inline;
	position: absolute;
	top: 1%;
	left: 90%;
	padding: 0.75% 1.75% 0.75% 1.75%;
	background-color: #244856;
	border-radius: 100%;
	font-size: 150%;
	cursor: pointer;
	color: #fff;
}

.addNote:hover{
	opacity: 0.8;
}

.notes-item{
	display: flex;
	box-sizing: border-box;
	width: 90%;
	cursor: pointer;
	margin: auto;
	padding: 2.5% 5% 2.5% 5%;
	border-bottom: solid 1px #25274d;
	transition: 0.3s;
}

.notes-item:hover{
	width: 100%;
	padding: 2.5% 10% 2.5% 10%;
	background-color: #ccc;
}

.name-notes{
	flex-grow: 5;
}

.create-time{
}

.notes-view{
	z-index: 9999;
	transition: 0.3s;
	width: 80%;
	height: 100%;
	position: absolute;
	top: -100%;
	left: 20%;
	background: #fff;
}

.control-panel{
	display: flex;
	border-bottom: solid 1px #25274d;
	height: 7%;
}

.for-text{
	flex-grow: 2;
	margin-left: 30px;
}

.for-text img{
	max-height: 25px;
	padding: 5px 2px 5px 2px;
	cursor: pointer;
}

.for-text img:hover{
	opacity: 0.7;
}

.for-common{
	margin-right: 30px;
}

.for-common img{
	max-width: 25px;
	padding: 5px 3px 5px 3px;
	cursor: pointer;
}

.for-common img:hover{
	opacity: 0.7;
}

.note-text{
	box-sizing: border-box;
	width: 100%;
	height: 92.8%;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 15px;
	outline: none;
}

.inactive, .inactive:hover{
	opacity: 0.5 !important;
	cursor: auto;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #CACACA;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #25274d;
}

.calendar {
	display: none;
	width: 100%;
	padding-top: 20px;
}

.calendar table {
	border-collapse: collapse;
	width: 450px;
	margin: auto;
	height: 380px;
}

.calendar td,
.calendar th {
	border: 1px solid #25274d;
	padding: 3px;
	text-align: center;
}

.calendar th {
	font-weight: bold;
	background-color: #25274d;
	color: #fff;
	height: 20px;
}

.calendar td{
	cursor: pointer;
}

.calendar td:hover{
	background-color: #244856;
	color: #fff;
}

.calendar-control{
	width: 150px;
	margin: auto;
	margin-bottom: 30px;
}

.month, .year{
	border: 1px solid #25274d;
	padding: 4px;
	outline: none;
}

.month{
	width: 92px;
}

.year{
	width: 40px;
}

.is_event{
	background-color: #a7ffa3;
}

.inactive-calendar, .inactive-calendar:hover{
	color: #25274d !important;
	background-color: #fff !important;
	cursor: auto;
}
